<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.site.name }}</title>
    <link rel="icon" href="{{ url(config.favicon) }}" />
{% for css in config.css %}
    <link rel="stylesheet" href="{{ url(css) }}" />
{% endfor %}
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
    <section class="sidebar">
        <a href=""><img src="public/imgs/eluna-logo.png" alt="{{ config.site.name }}" width="100"></a>
        <div class="block">
            <h2>Docs</h2>
            {{ generate_menu() }}
        </div>
    </section>

    <section id="main" class="content mod">
        {{ markdown(include('doc/index.md')) }}
    </section>

    <center>&copy;2015 - {{ config.site.name }}</center>
{% for js in config.js %}
    <script type="text/javascript" src="{{ url(js) }}"></script>
{% endfor %}
</body>
</html>
